.center {
    margin: auto;
    width: 82%;
    /* border: 0.5px solid grey; */
    padding: 10px;
  }

  .frame {
    height: 100px;      /* equals max image height */
    width: 100px;
    border: 1px solid red;
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.txt-area-center {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}


/* -------------- new ------------ */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  /* background-color: #ffffff; */
  width: 30%;
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
}

.flex-container2 {
  display: flex;
  align-items: stretch;
}

.flex-container2 > div {
  /* background-color: #ffffff; */
  width: 100px;
  margin: 10px;
  height: 500px;
  text-align: center;
  /* line-height: 75px; */
}

.horizontal {
  display:block;
 float:left;
}

.hori:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.top-space{
  margin-top: 10px;
}

